:root {
  --color-primary: #63398F;
  --color-secondary: #7227C2;
  --color-terciary: #49375C;
  --color-quadiary: #7600F4;
  --color-quintiary: #2E2933;
  --color-house: #6e90d8;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

body {
  background-color: var(--color-terciary);
  margin: 0;
  padding: 0;
}

.house {
  color: var(--color-house);
}

/*header*/


h1 {
  color: var(--color-white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px;
  font-style: italic;
  font-size: 40px;
}

.header {
  display: flex;
  padding: 10px;
  margin: -10px;
}

.fixed-bar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: var(--color-quintiary);
  color: #fff;
  padding: 15px;
  text-align: center;
  box-shadow: var(--box-shadow-1);
  z-index: 2;
}

#content {
  position: absolute;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-left: 10%;
}

@media only screen and (max-width: 767px) {
  #content {
    width: 100%;
    margin-left: 0;
  }
}

/*Button*/

.btn-con {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.main-btn {
  padding: 1rem;
  border-radius: 30px;
  color: inherit;
  font-weight: 600;
  position: relative;
  border: 1px solid var(--color-secondary);
  display: flex;
  align-self: flex-start;
  display: flex;
  align-items: center;
  overflow: hidden;
  background-color: none;
  text-decoration: none;
}

.main-btn .btn-text {
  padding: 0 2rem;
  color: var(--color-white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-btn:hover {
  display: inline-flex;
  padding: 1.25rem;
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
}

/*nav-bar*/

nav {
  display: flex;
  align-items: end;
  z-index: 1;
}


nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow-1);
  border-radius: 50%;
  margin: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

nav p1 {
  display: none;
}

nav a:hover,
nav a:active {
  filter: invert(100%);

  top: 2px;
  left: 2px;
  width: 150px;
  border-radius: 25px;


}

nav a:hover p1 {
  opacity: 100%;
  display: inline-flex;
}

/* Media Query for smaller screens (phones) */
@media only screen and (max-width: 767px) {
  nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: right;
    position: fixed;
    right: 0;
    top: 12rem;
  }

}

/*Home page*/



.header .h-shape {
  transition: all 0.4s ease-in-out;
  width: 65%;
  height: 100%;
  background-color: var(--color-secondary);
  position: absolute;
  left: -50px;
  box-shadow: var(--box-shadow-1);
  top: 0;
  z-index: -1;
  -webkit-clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
  clip-path: polygon(0 0, 46% 0, 79% 100%, 0% 100%);
}

.home-page-con {
  width: 100%;

}

.home-page-con .home-boxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 75px;
}

.home-page-con .home-boxes .box-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* 2 columns */
  grid-template-rows: repeat(2, 250px);
  gap: 20px;
  flex-wrap: wrap;
  width: 80%;
  justify-content: space-between;
  padding: 20px;

}

.home-page-con .home-boxes .box-container .box {
  display: inline-block;
  height: 100%;
  margin-bottom: 20px;
  min-width: 200px;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid var(--color-white);
  border-radius: 25px;
  padding: 5px;
  text-decoration: none;
}

.home-page-con .home-boxes .box-container .box:hover {
  background-color: var(--color-quadiary);
  transition: all 0.4s ease-in-out;
}

.home-page-con .home-boxes .text-box-container {
  display: inline-block;
  width: 50%;
  min-width: 200px;
}

.home-page-con .image-box-cover .daemon-cover {
  width: 25%;
  max-width: 500px;
  min-width: 200px;
  position: absolute;
  transition: all 0.4s ease-in-out;
  bottom: 50px;
  right: 5%;
}

.home-page-con .image-box-cover:hover .daemon-cover {
  content: url('../resources/img/main-page-img/daemon-with-cat.png');
  bottom: 20px;
}

h2 {
  color: var(--color-white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px;
  font-style: italic;
  font-size: 25px;
}

.home-page-con p span {
  font-size: 35px;
  color: var(--color-grey-3);
  display: inline;
  white-space: nowrap;
  font-style: italic;
}

p {
  color: var(--color-white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

.signature-cover .daemon-signature {
  position: absolute;
  left: 50px;
  bottom: 0px;
  width: 400px;
  z-index: 2;
  filter: invert(100%);
}

@media only screen and (max-height: 767px) {
  .signature-cover .daemon-signature {
    margin-left: 40%;
  }
}

@media only screen and (max-width: 767px) {
  .home-page-con .home-boxes .box-container .box {
    min-width: 100px;
    width: 100%;
  }

  .home-page-con .home-boxes {
    display: flex;
    flex-direction: column;
    margin-right: 15px;

  }

  .home-page-con .home-boxes .box-container {
    width: auto;
    margin-right: 0;
    display: grid;
    grid-template-columns: 1fr;

  }

  .home-page-con .home-boxes .text-box-container {
    width: 90%;
    margin-top: 50px;
    padding: 25px;
  }

  .home-page-con .image-box-cover .daemon-cover {
    display: none;
  }

  .header .h-shape {
    display: none;
  }

  .signature-cover .daemon-signature {
    position: relative;
    width: 80%;
    height: auto;
    margin-left: 0;
  }


}

/*About me*/

.about-me-con {
  width: 90%;
  margin-left: 40px;
}

.about-me-con .buffer {
  height: 125px;
}

.about-me-con .about-me-boxes {
  margin-top: 50px;
  display: grid;
  min-height: 200px;
  grid-template-columns: repeat(2, 1fr);
  margin-right: 75px;
}

.about-me-con .about-me-boxes p {
  font-size: 20px;
  line-height: 50px;
  margin-left: 25px;
}

.about-me-con .about-me-boxes .left-about-me {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me-con .about-me-boxes .left-about-me .image-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow-1);
  margin: 25px;

}

.about-me-con .about-me-boxes .left-about-me .image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-me-con .about-me-boxes .left-about-me .link-box {

  height: 100%;
  width: 100%;
  margin: 25px;
}

.about-me-con .about-me-boxes .left-about-me .link-box a:hover {
  background-color: var(--color-secondary);
  transition: all 0.4s ease-in-out;
  padding: 20px;
}

.about-me-con .about-me-boxes .left-about-me .link-box a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  box-shadow: var(--box-shadow-1);
  border: 1px solid var(--color-white);
  border-radius: 30px;
  margin-top: 50px;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

.about-me-con .about-me-boxes .volunteer-box p {
  font-size: 15px;
  color: var(--color-white);
  line-height: normal;
}

h3 {
  color: var(--color-white);
  font-style: italic;
  padding-left: 20px;
}

.about-me-con .about-me-boxes .text-container-job p {
  font-size: 15px;
  color: var(--color-white);
  line-height: normal;
}

.about-me-con .about-me-boxes .left-about-me .grid-container {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  justify-content: center;
}

.about-me-con .about-me-boxes .left-about-me .photo-1 {
  position: relative;
  overflow: hidden;
  box-shadow: var(--box-shadow-1);
}

.about-me-con .about-me-boxes .left-about-me .photo-2 {
  grid-column: 2 / span 2;
  grid-row: 1 / span 2;
}

.about-me-con .about-me-boxes .left-about-me .photo-1 img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.about-me-con .about-me-boxes .left-about-me .map-container {
  overflow: hidden;
  margin-left: 25px;
  margin-right: 25px;
}

.about-me-con .about-me-boxes ul {
  list-style: circle;

}

.about-me-con .about-me-boxes .right-about-me-map {
  align-items: center;
  justify-content: center;
  display: flex;
}

.about-me-con .about-me-boxes .about {
  list-style: circle;
  margin-top: 25px;
}

.about-me-con .about-me-boxes li {
  color: var(--color-white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 10px;
}

@media only screen and (max-width: 767px) {
  .about-me-con {
    width: 100%;
    margin-left: 0px;
  }

  .about-me-con .about-me-boxes {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
  }

  .about-me-con .about-me-boxes .left-about-me {
    width: 100%;
    padding-left: 10px;
  }

  .about-me-con .about-me-boxes p {
    width: auto;
    display: flex;
  }
}

.about-me-con p {
  margin: 25px;
  font-size: 30px;
  min-width: 300px;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  width: 80%;
}

/*Portfolio*/

.header .top-bar {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100px;
  background-color: var(--color-quintiary);
  box-shadow: var(--box-shadow-1);
  z-index: -1;
}

.portfolio-landing-con {
  width: 100%;
}

.portfolio-landing-con hr {
  width: 80%;
  opacity: 50%;

}

.portfolio-landing-con .project-slot .project-container {
  padding-bottom: 50px;
  display: grid;
  min-height: 200px;
  width: 80%;
  padding-left: 120px;
  grid-template-columns: repeat(2, 1fr);
}

.portfolio-landing-con .model-project-slot .model-project-thing {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.portfolio-landing-con .model-project-slot .model-project-thing .square {
  width: auto;
  height: 600px;
}

.portfolio-landing-con .model-project-slot .model-project-thing {
  margin: 10px;
}

.portfolio-landing-con .model-project-slot .model-project-thing p {
  width: 600px;
}

.portfolio-landing-con .model-project-slot .model-project-thing img {
  width: 70%;
  max-width: 1200px;
}

.portfolio-landing-con .project-header {
  margin-left: 45px;
}

.portfolio-landing-con .project-header h3 {
  display: inline;
}

.portfolio-landing-con .project-con-left {
  display: flexbox;
  width: 100%;
  min-width: 430px;
}

.portfolio-landing-con .project-con-right {
  display: flexbox;
  width: 100%;
}

.portfolio-landing-con .project-con-right .btn-group {
  padding-top: 15%;
}

.portfolio-landing-con .project-con-right .btn-con {
  padding-top: 50px;
}

.portfolio-landing-con .project-con-right .project-img-con {
  padding-left: 75px;
  padding-top: 20px;
  
}

.portfolio-landing-con .project-con-right .project-img-con img {
  height: 300px;
  width: auto;
  margin: 10px;
}

@media only screen and (max-width: 900px) {
  .portfolio-landing-con .project-slot .project-container {
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    padding-left: 15px;
  }

  .portfolio-landing-con .project-con-right .project-img-con {
    display: flex;
    padding-left: 0px;
    padding-top: 20px;
    flex-direction: row;
  }

  .portfolio-landing-con .project-header {
    margin-left: 0px;
  }

  .portfolio-landing-con .model-project-slot .model-project-thing .square {
    width: 80%;
    height: auto;
  }

  .portfolio-landing-con .model-project-slot .model-project-thing p {
    width: 80%;
    min-width: none;
  }

  .portfolio-landing-con .model-project-slot .model-project-thing img {
    width: 70%;
    max-width: 1200px;
  }

  .portfolio-landing-con .project-con-left {
    min-width: 100px;
  }
}

/*Blog*/

.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  margin-top: 3rem;
  margin: 25px;
  margin-right: 75px;
  margin-bottom: 75px;
}

.blogs .blog {
  position: relative;
  background-color: var(--color-terciary);
  border-radius: 5px;
  box-shadow: --box-shadow-1;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.blogs .blog:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}

.blogs .blog:hover img {
  transform: scale(1.1);
  box-shadow: 1px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.8);
}

.blogs .blog img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: all 0.4s ease-in-out;
}

.blogs .blog .blog-text {
  margin-top: -7px;
  padding: 1.1rem;
  border-top: 8px solid var(--color-secondary);

}

.blogs .blog .blog-text h4 {

  font-size: 1.5rem;
  margin-bottom: 0.7rem;
  transition: all 0.4s ease-in-out;
  color: var(--color-white);
  cursor: pointer;
}

.blogs .blog .blog-text h4:hover {
  color: var(--color-secondary);
}

.blogs .blog .blog-text p {
  color: var(--color-grey-2);
  line-height: 2rem;
  padding-bottom: 1rem;
}

@media only screen and (max-width: 767px) {
  .blogs {
    grid-template-columns: repeat(1, 1fr);
    margin-right: 25px;
  }
}

/*Contact page*/

.contact-content-con {
  display: flex;
  padding-top: 3.5rem;
  padding: 20px;
}

.contact-content-con p {
  font-size: 15px;
}


.contact-content-con .main-btn {
  background-color: var(--color-quintiary);
}

.contact-content-con .main-btn:hover {
  background-color: var(--color-secondary);
}


.contact-content-con .left-contact {
  flex: 2;
}

.contact-content-con .left-contact h4 {
  margin-top: 1rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--color-white);
}

.contact-content-con .left-contact p {
  margin: 1rem 0;
  line-height: 2rem;
  color: var(--color-white);
}

.contact-content-con .left-contact .contact-info .contact-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contact-content-con .left-contact .contact-info .contact-item p {
  margin: 0.3rem 0 !important;
  padding: 0 !important;
  color: var(--color-white);
}

.contact-content-con .left-contact .contact-info .contact-item .icon {
  display: grid;
  grid-template-columns: 40px 1fr;
  color: var(--color-white);
}

.contact-content-con .left-contact .contact-info .contact-item .icon i {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
}

.contact-content-con .left-contact .contact-icon {
  display: flex;
  margin-top: 2rem;
  align-content: center;

}

.contact-content-con .left-contact .contact-icon a {
  display: flex;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-grey-5);
  cursor: pointer;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 0.4rem;
  transition: all 0.4s ease-in-out;
  text-decoration: none;
}

.contact-content-con .left-contact .contact-icon a:hover {
  background-color: var(--color-secondary);
}

.contact-content-con .left-contact .contact-icon a:hover i {
  color: var(--color-primary);
}

.contact-content-con .left-contact .contact-icon a i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
}

.contact-content-con .right-contact {
  flex: 3;
  margin-left: 3rem;
  margin-right: 6rem;
  margin-bottom: 100px;
}

.contact-content-con .right-contact .input-control {
  margin: 1.5rem 0;
}

.contact-content-con .right-contact .input-control #message {
  height: 120px;

}

.contact-content-con .right-contact .input-control input,
.contact-content-con .right-contact .input-control textarea {
  border-radius: 30px;

  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: 0.8rem 1.1rem;
  outline: none;
  border: none;
  background-color: var(--color-grey-5);
  width: 100%;
  color: var(--color-white);
  resize: none;
}

.contact-content-con .right-contact .i-c-2 {
  display: flex;
}

.contact-content-con .right-contact .i-c-2 :last-child {
  margin-left: 1.5rem;
}

.contact-content-con .right-contact .submit-btn {
  display: flex;
  justify-content: flex-start;

}

@media only screen and (max-width: 767px) {
  .contact-content-con {
    display: inline-block;
  }

  .contact-content-con .right-contact {
    margin-left: 0rem;
    margin-right: 3rem;
  }
}