:root {
  --color-primary: #ffc9f6;
  --color-secondary: #c227ab;
  --color-terciary: #920000;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey0: #f8f8f8;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

body {
  background-color: var(--color-secondary);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

h3 {
  color: var(--color-white);
  margin-bottom: 25%;
}

.main-box {
  background-color: var(--color-primary);
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  box-shadow: var(--box-shadow-1);
}

.question {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--color-terciary);
}

.answer-box {
  display: flex;
  justify-content: center;
  gap: 20px; /* Adds space between the buttons */
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.video-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.video-overlay video {
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
}