:root {
    --color-primary: #51557e;
    --color-secondary: #96b0e5;
    --color-terciary: #6320d6;
    --color-house: #6e90d8;
    --color-white: #FFFFFF;
    --color-black: #000;
    --color-grey-1: #dbe1e8;
    --color-grey-2: #b2becd;
    --color-grey-3: #6c7983;
    --color-grey-4: #454e56;
    --color-grey-5: #2a2e35;
    --color-grey-6: #12181b;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
  }

body {
    background: linear-gradient(to top, #350c39, #461154, #010b13);
    margin: 0px;
  }
  
/*header*/
  
h1 {
    color: var(--color-white);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    font-style: italic;
    font-size: 40px;
    position: absolute;
  
}
  
h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    font-style: italic
}
  
.header {
    display: flex;
    width: 100%;
    height: 100px;
    justify-content: center;
}
  
.header .top-bar {
    position: absolute;
    top: -200px;
    width: 100%;
    height: 400px;
    background-color: var(--color-secondary);
    box-shadow: var(--box-shadow-1);
    z-index: -1;
    border-radius: 100%;
}
  
.bar {
    display: flex;
    flex-wrap: wrap;
}
  
.bar a {
    flex: 1 0 15%;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    background-color: var(--color-grey-1);
    border: 1px solid var(--color-secondary);
    text-decoration: none;
    color: #333;
    margin-bottom: 25px;
}
  
.bar a:hover {
    background-color: var(--color-primary);
}
  
  
/*nav-bar*/
  
nav {
    display: flex;
    align-items: end;
    padding-bottom: 20px;
}
  
  
nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: var(--color-secondary);
    box-shadow: var(--box-shadow-1);
    border-radius: 50%;
    margin: 10px;
    position: relative;
    text-align: center;
    text-decoration: none;
    color: var(--color-white);
    transition: all 0.4s ease-in-out;
}
  
nav p1 {
    display: none;
}
  
nav a:hover,
nav a:active {
    background-color: var(--color-terciary);
    top: 2px;
    left: 2px;
    width: 150px;
    border-radius: 25px;
  
  
}
  
nav a:hover p1 {
    opacity: 100%;
    display: inline-flex;
}
  
/* Media Query for smaller screens (phones) */
@media only screen and (max-width: 767px) {
    nav {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin-top: 25px;
    }
}
  
@media only screen and (min-width: 768px) {
    nav {
      flex-direction: column;
      justify-content: right;
      position: fixed;
      right: 0;
      top: 12rem;
    }
  
}

.ranking-content-con {
    width: 75%;
    padding-top: 3.5rem;
    padding: 20px;
    background-color: var(--color-grey-1);
    margin-left: 10%;
  }
  
  .ranking-content-con .anime {
    display: flex;
    width: 97%;
    min-height: 200px;
    margin-bottom: 5px;
    border: 1px solid var(--color-secondary);
    padding: 15px;
    border-radius: 5px;
  }

  #jjba{

    .right-anime .details .title p {
      color: rgb(255, 255, 255);
    }
    .right-anime .star-rating{
      color: rgb(190, 83, 162);
    }
    .right-anime .duration{
      color: white;
    }

    background: linear-gradient(
        to right,
        rgb(60, 1, 60) 30%,
        rgba(230, 0, 255, 0.5) 60%,
        rgba(255, 0, 0, 0) 100%,
        rgba(255,0,0,0)),url('../../../resources/img/blog-img/blog-thumbnails/madeinheaven.jpg');
      background-size: cover;
  }

  #akira{

    .right-anime .details .title p {
      color: rgb(255, 255, 255);
    }
    .right-anime .star-rating{
      color: rgb(236, 65, 65);
    }
    .right-anime .duration{
      color: white;
    }

    background: linear-gradient(
        to right,
        rgb(0, 0, 0) 30%,
        rgba(0, 0, 0, 0.5) 60%,
        rgba(255, 0, 0, 0) 100%,
        rgba(255,0,0,0)),url('anime-covers/akira-back.jpg');
      background-size: cover;
  }

  #mob{

    .right-anime .details .title p {
      color: rgb(170, 238, 255);
    }
    .right-anime .star-rating{
      color: rgb(41, 47, 121);
    }
    .right-anime .duration{
      color: white;
    }

    background: linear-gradient(
        to right,
        rgb(144, 58, 243) 30%,
        rgba(15, 130, 138, 0.5) 60%,
        rgba(255, 0, 0, 0) 100%,
        rgba(255,0,0,0)),url('anime-covers/mob_back.jpg');
      background-size: cover;
  }

  #eva{

    .right-anime .details .title p {
      color: rgb(255, 255, 255);
    }
    .right-anime .star-rating{
      color: rgb(235, 236, 249);
    }
    .right-anime .duration{
      color: white;
    }

    background: linear-gradient(
        to right,
        rgb(103, 23, 23) 30%,
        rgba(32, 26, 115, 0.5) 60%,
        rgba(255, 0, 0, 0) 100%,
        rgba(255,0,0,0)),url('anime-covers/eva.jpg');
      background-size: cover;
  }

  #csm{

    .right-anime .details .title p {
      color: rgb(78, 42, 42);
    }
    .right-anime .star-rating{
      color: rgb(114, 39, 39);
    }
    .right-anime .duration{
      color: rgb(73, 48, 48);
    }

    background: linear-gradient(
        to right,
        rgb(250, 225, 200) 30%,
        rgba(255, 0, 0, 0) 100%,
        rgba(255,0,0,0)),url('anime-covers/Chainsaw-Man-Makima-Tercer-Ending.jpg');
      background-size: cover;
  }

  #meshi{

    .right-anime .details .title p {
      color: rgb(218, 222, 255);
    }
    .right-anime .star-rating{
      color: rgb(62, 81, 152);
    }
    .right-anime .duration{
      color: rgb(92, 134, 138);
    }

    background: linear-gradient(
        to right,
        rgb(33, 32, 103) 30%,
        rgba(32, 26, 115, 0.5) 60%,
        rgba(255, 0, 0, 0) 100%,
        rgba(255,0,0,0)),url('anime-covers/meshi-back.jpg');
      background-size: cover;
  }

  #flcl{

    .right-anime .details .title p {
      color: rgb(0, 0, 0);
    }
    .right-anime .star-rating{
      color: rgb(0, 0, 0);
    }
    .right-anime .duration{
      color: rgb(0, 0, 0);
    }

    background: linear-gradient(
        to right,
        rgb(184, 151, 105) 30%,
        rgba(163, 151, 95, 0.5) 60%,
        rgba(255, 0, 0, 0) 100%,
        rgba(255,0,0,0)),url('anime-covers/FLCL_1.png');
      background-size: cover;
  }

  #flowers{

    .right-anime .details .title p {
      color: rgb(208, 222, 222);
    }
    .right-anime .star-rating{
      color: rgb(196, 212, 213);
    }
    .right-anime .duration{
      color: rgb(177, 197, 200);
    }

    background: linear-gradient(
        to right,
        rgb(0, 0, 0) 30%,
        rgba(53, 52, 52, 0.5) 60%,
        rgba(255, 0, 0, 0) 100%,
        rgba(255,0,0,0)),url('anime-covers/flowers.png');
      background-size: cover;
  }

  #aot{

    .right-anime .details .title p {
      color: rgb(255, 231, 163);
    }
    .right-anime .star-rating{
      color: rgb(246, 234, 192);
    }
    .right-anime .duration{
      color: rgb(177, 197, 200);
    }

    background: linear-gradient(
        to right,
        rgb(85, 47, 0) 30%,
        rgba(179, 54, 54, 0.5) 60%,
        rgba(255, 0, 0, 0) 100%,
        rgba(255,0,0,0)),url('anime-covers/aot-back.jpg');
      background-size: cover;
  }

  #cowboy{

    .right-anime .details .title p {
      color: rgb(65, 27, 27);
    }
    .right-anime .star-rating{
      color: rgb(98, 46, 49);
    }
    .right-anime .duration{
      color: rgb(57, 23, 23);
    }

    background: linear-gradient(
        to right,
        rgb(109, 105, 30) 30%,
        rgba(179, 142, 54, 0.5) 60%,
        rgba(255, 0, 0, 0) 100%,
        rgba(255,0,0,0)),url('anime-covers/cowboy-back.jpg');
      background-size: cover;
  }

  .ranking-content-con .anime .left-anime {
    display: flex;
  }
  .ranking-content-con .anime .left-anime p{
    padding: 25px;
    padding-left: 0px;
    right: 50%;
    font-size: 34px;
  }

  .ranking-content-con .anime .right-anime {
    display: flex;
  }
  
  .ranking-content-con .anime .right-anime .details {
    min-width: 200px;
    margin-left: 25px;
  }
  
  .ranking-content-con .anime .right-anime .details .title p {
    color: var(--color-secondary);
    font-size: 34px;
    font-weight: bold;
    top: 0;
  }
  
  .ranking-content-con .anime .left-anime .anime-cover {
    width: 150px;
    height: min-content;
  }
  .ranking-content-con .anime .right-anime .star-rating{
    font-size: 28px;
    color: var(--color-primary);
  }
  
  .ranking-content-con .anime .right-anime .anime-cover:hover {
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    transition: all 0.4s ease-in-out;
  }
  
  @media only screen and (max-width: 767px) {
    .ranking-content-con {
      width: 100%;
      margin-left: 0%;
      padding-left: 0%;
    }

    .ranking-content-con .anime{
      padding-left: 0%;
    }

    .ranking-content-con .left-anime{
      width: 50%;
    }

    .ranking-content-con .anime .left-anime p{
      padding: 0%;
      padding-right: 10px;
    }
  
    .ranking-content-con .anime .left-anime .anime-cover {
      width: 50%;
      min-width: 125px;
      height: auto;
    }

    .ranking-content-con .right-anime{
      padding-right: 10px;
    }
    .ranking-content-con .anime .right-anime .details .title p{
      font-size: 20px;
    }
    .ranking-content-con .anime .right-anime .details .star-rating{
      width: 86%;
    }
    .ranking-content-con .right-anime h1{
      font-size: 12px;
    }
}