:root {
  --color-primary: #edc8ee;
  --color-secondary: #f98fe9;
  --color-terciary: #ed78f8;
  --color-house: #6e90d8;
  --color-white: #FFFFFF;
  --color-black: #000;
  --color-grey-1: #dbe1e8;
  --color-grey-2: #b2becd;
  --color-grey-3: #6c7983;
  --color-grey-4: #454e56;
  --color-grey-5: #2a2e35;
  --color-grey-6: #12181b;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

body {
  background: linear-gradient(to bottom right,var(--color-primary),var(--color-secondary),var(--color-terciary));
  margin: 0px;
}

/*header*/

h1 {
  color: var(--color-white);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px;
  font-style: italic;
  font-size: 40px;
  position: absolute;

}

h3 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 20px;
  font-style: italic
}

.header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: center;
}

.header .top-bar {
  position: absolute;
  top: -200px;
  width: 100%;
  height: 400px;
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow-1);
  z-index: -1;
  border-radius: 100%;
}

.bar {
  display: flex;
  flex-wrap: wrap;
}

.bar a {
  flex: 1 0 15%;
  text-align: center;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--color-white);
  border: 1px solid var(--color-secondary);
  text-decoration: none;
  color: #333;
  margin-bottom: 25px;
}

.bar a:hover {
  background-color: var(--color-primary);
}


/*nav-bar*/

nav {
  display: flex;
  align-items: end;
  padding-bottom: 20px;
}


nav a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--color-secondary);
  box-shadow: var(--box-shadow-1);
  border-radius: 50%;
  margin: 10px;
  position: relative;
  text-align: center;
  text-decoration: none;
  color: var(--color-white);
  transition: all 0.4s ease-in-out;
}

nav p1 {
  display: none;
}

nav a:hover,
nav a:active {
  background-color: var(--color-terciary);
  top: 2px;
  left: 2px;
  width: 150px;
  border-radius: 25px;


}

nav a:hover p1 {
  opacity: 100%;
  display: inline-flex;
}

/* Media Query for smaller screens (phones) */
@media only screen and (max-width: 767px) {
  nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
  }
}

@media only screen and (min-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: right;
    position: fixed;
    right: 0;
    top: 12rem;
  }

}

/*Main-page*/

.house {
  color: var(--color-house);
}

i {
  color: var(--color-terciary)
}

p {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--color-grey-5);
}

.journal-content-con {
  width: 75%;
  padding-top: 3.5rem;
  padding: 20px;
  background-color: var(--color-white);
  margin-left: 10%;
  border-radius: 30px;
}

.journal-content-con .book {
  display: flex;
  width: 97%;
  min-height: 300px;
  margin-bottom: 25px;
  border: 1px solid var(--color-secondary);
  padding: 15px;
  border-radius: 5px;
}

.journal-content-con .book:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}

.journal-content-con .book .left-book {
  display: flex;
}

.journal-content-con .book .left-book .details {
  min-width: 200px;
  margin-left: 5px;
}

.journal-content-con .book .left-book .details .title p {
  color: var(--color-secondary);
  font-size: 22px;
  font-weight: bold;
}

.journal-content-con .book .left-book .book-cover {
  width: 200px;
  height: min-content;
}

.journal-content-con .book .left-book .book-cover:hover {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-5px);
  transition: all 0.4s ease-in-out;
}

@media only screen and (max-width: 767px) {
  .journal-content-con {
    width: 90%;
    margin-left: 0%;
  }

  .journal-content-con .book {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-left: 0%;
    border: none;
  }

  .journal-content-con .book .left-book {
    width: 100%;
  }
  .journal-content-con .book .left-book .title{
    width: 90%;
  }
  .journal-content-con .book .left-book .genre {
    width: 90%;
  }
  .journal-content-con .book .left-book .author {
    width: 90%;
  }

  .journal-content-con .book .left-book .book-cover {
    width: 50%;
    height: auto;
    min-width: 180px;
  }

  .journal-content-con .book .right-book {
    width: 90%;
    display: flex;
  }
}